@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/** hero image**/
.section__1{
    position: relative;
    font-size: 15px;
    color: #fff;
    font-family: "Roboto", "Arial","sans-serif";
    background-image: url(/assets/images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 128rem;
    z-index: -1;
}

   /**container**/
   .container{
    margin: 0 auto;
    width: 90%;
}

/**first card after carousel**/
.behind__card{
    position: absolute;
    top: 2rem;
    width: 22rem;
    min-height: 120rem;
    z-index: -1;
    background-image: linear-gradient(#306ed5, #b23c8a);
}

.hero__hover{
    background-color: #0f2557;
    text-align: center;
    height: 50.5rem;
    padding-top: 3rem;
}
.hero__heading{
    font-size: 3.75rem;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    line-height: 1.2;
}
.download_button{
    margin: 2rem;
}

.download__button{
    background-color: #f15048;
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.square{
    display: grid;
    gap: 2rem;
    justify-content: center;
    padding-top: 1rem;
}




.svg_logo{
    position: absolute;
    left: 9.5rem;
    padding-top: 2rem;
    width: 5rem;
    z-index: 2;
}
.square__paragraph{
    position: absolute;
    left: 7rem;
    padding-top: 9rem;
    z-index: 2;
}